

<div class="center jumbotronA">
<h1> About me</h1>
<%=image_tag("guam_photo.jpg", height: "400", width: "550")%>
<p>My name is Charles and I am an aspiring developer. I am excited to work through this coure and build up my ruby on rails skillset!</p>
<%= link_to 'Home', root_path %>
</div>
