<H1> This is the homepage </H1>

<h2> This is my dog torben </h2>
<%=image_tag("torben_beach.jpg", height: "400", width: "550")%>
<p> Figure out how to rotate this image!!!</p>
<%= link_to 'About', about_path %>